<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.caker.boot.repo.mapper.OrderMapper">

    <sql id="base_sql">
        id, sid, user_id, name, createTime
    </sql>

    <insert id="save" parameterType="Order" keyProperty="id" useGeneratedKeys="true" flushCache="true">
        insert into t_order(sid, user_id, name)
        values (#{sid}, #{userId}, #{name})
    </insert>
</mapper>
