<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="userService" class="cc.caker.study.spring.service.UserServiceImpl">
        <property name="token" value="RejDlI78hu223Opo983Ds"/>
    </bean>

    <bean class="cc.caker.study.spring.aop.framework.autoproxy.DefaultAdvisorAutoProxyCreator"/>

    <bean id="beforeAdvice" class="cc.caker.study.spring.UserServiceBeforeAdvice"/>

    <bean id="methodInterceptor" class="cc.caker.study.spring.aop.framework.adapter.MethodBeforeAdviceInterceptor">
        <property name="advice" ref="beforeAdvice"/>
    </bean>

    <bean id="pointcutAdvisor" class="cc.caker.study.spring.aop.aspectj.AspectJExpressionPointcutAdvisor">
        <property name="expression" value="execution(* cc.caker.study.spring.service.UserService.*(..))"/>
        <property name="advice" ref="methodInterceptor"/>
    </bean>

</beans>