<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cc.caker.springboot.repo.mapper.db1.AdminResourceMapper">

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, admin_id, resource_id, create_time
    </sql>

    <select id="findByAdminId" resultType="Resource">
        select tr.*
        from t_admin_resource tar
        join t_resource tr on tar.resource_id = tr.id
        where tar.admin_id = #{adminId}
        <if test="state != null">
            and tr.status = #{state}
        </if>
        union
        select tre.*
        from t_admin_role tar
        join t_role tr on tar.role_id = tr.id
        <if test="state != null">
            and tr.status = #{state}
        </if>
        join t_role_resource trr on tr.id = trr.role_id
        join t_resource tre on trr.resource_id = tre.id
        where tar.admin_id = #{adminId}
        <if test="state != null">
            and tre.status = #{state}
        </if>
    </select>

    <select id="findUriByAdminId" resultType="string" parameterType="int">
        select distinct tr.uri
        from t_admin_resource tar
                 join t_resource tr on tar.resource_id = tr.id
        where tar.admin_id = #{adminId}
          and tr.status = 1
        union
        select distinct tre.uri
        from t_admin_role tar
                 join t_role tr on tar.role_id = tr.id
            and tr.status = 1
                 join t_role_resource trr on tr.id = trr.role_id
                 join t_resource tre on trr.resource_id = tre.id
        where tar.admin_id = #{adminId}
          and tre.status = 1
    </select>

</mapper>
