<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cc.caker.springboot.repo.mapper.db2.MenuMapper">

    <resultMap id="BaseResultMap" type="cc.caker.springboot.repo.model.db2.Menu">
        <id column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="url" property="url" jdbcType="VARCHAR"/>
        <result column="path" property="path" jdbcType="VARCHAR"/>
        <result column="component" property="component" jdbcType="VARCHAR"/>
        <result column="icon_cls" property="iconCls" jdbcType="VARCHAR"/>
        <result column="keep_alive" property="keepAlive" jdbcType="TINYINT"/>
        <result column="require_auth" property="requireAuth" jdbcType="TINYINT"/>
        <result column="sort" property="sort" jdbcType="INTEGER"/>
        <result column="parent_id" property="parentId" jdbcType="INTEGER"/>
    </resultMap>

    <sql id="Base_Column_List">
        id, name, url, path, component, icon_cls, keep_alive, require_auth, sort, parent_id
    </sql>

</mapper>