<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<beans xmlns="http://www.springframework.org/schema/beans">

    <bean class="cc.caker.study.spring.ContextRefreshedEventListener"/>

    <bean class="cc.caker.study.spring.CustomEventListener"/>

    <bean class="cc.caker.study.spring.ContextClosedEventListener"/>

</beans>